<div class="jumbotron">
    <img class="mx-auto" style="display: block; margin-bottom: 12px;" src="../../../img/logo.gif" alt="Alternate Text" />
    <h1 class="text-center">AR Welding Headset API</h1>
    <p class="lead text-center">Webservice for the AR Welding Headset application</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">API</h2>
        <p class="text-center">Realtime temperature values</p>
        <p class="text-center"><a class="btn" style="background-color: #004B8D; color: #fff;" href="../api/values">Reach it!</a></p>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Calibration</h2>
        <p class="text-center">Set temperature thresholds</p>
        <p class="text-center"><a class="btn" style="background-color: #004B8D; color: #fff;" href="../temp">Reach it!</a></p>
    </div>
</div>
